/* line 58, icon/*.png */
.icon-sprite {
  background: url('../images/icon-s57ff872dab.png') no-repeat;
}

/* line 19, ../sass/global/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 29, ../sass/global/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 42, ../sass/global/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 52, ../sass/global/_normalize.scss */
[hidden] {
  display: none;
}

/* line 76, ../sass/global/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: Georgia, "Droid Serif", serif;
}

/* line 84, ../sass/global/_normalize.scss */
body {
  margin: 0;
}

/* line 97, ../sass/global/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 107, ../sass/global/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 121, ../sass/global/_normalize.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.14286em;
  margin-top: 0.14286em;
  margin-bottom: 0.14286em;
}

/* line 130, ../sass/global/_normalize.scss */
h2 {
  font-size: 2.25em;
  line-height: 1.16667em;
  margin-top: 0.16667em;
  margin-bottom: 0.16667em;
}

/* line 136, ../sass/global/_normalize.scss */
h3 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* line 142, ../sass/global/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0.375em;
  margin-bottom: 0.375em;
}

/* line 148, ../sass/global/_normalize.scss */
h5 {
  font-size: 0.875em;
  line-height: 1.28571em;
  margin-top: 0.42857em;
  margin-bottom: 0.42857em;
}

/* line 154, ../sass/global/_normalize.scss */
h6 {
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* line 164, ../sass/global/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 173, ../sass/global/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 177, ../sass/global/_normalize.scss */
blockquote {
  margin: 0.375em 48px;
}

/* line 186, ../sass/global/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 194, ../sass/global/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 204, ../sass/global/_normalize.scss */
p,
pre {
  margin: 0.375em 0;
}

/* line 217, ../sass/global/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 229, ../sass/global/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 242, ../sass/global/_normalize.scss */
q {
  quotes: none;
}

/* line 249, ../sass/global/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 254, ../sass/global/_normalize.scss */
small {
  font-size: 75%;
}

/* line 264, ../sass/global/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 271, ../sass/global/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 275, ../sass/global/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 291, ../sass/global/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 0.375em 0;
}

/* line 296, ../sass/global/_normalize.scss */
dd {
  margin: 0 0 0 48px;
}

/* line 306, ../sass/global/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 48px;
}

/* line 315, ../sass/global/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 331, ../sass/global/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 340, ../sass/global/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 353, ../sass/global/_normalize.scss */
figure {
  margin: 0;
}

/* line 366, ../sass/global/_normalize.scss */
form {
  margin: 0;
}

/* line 374, ../sass/global/_normalize.scss */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.06875em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.18125em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.17188em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.17188em;
}

/* line 390, ../sass/global/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 408, ../sass/global/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 422, ../sass/global/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 436, ../sass/global/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 449, ../sass/global/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 461, ../sass/global/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 475, ../sass/global/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 485, ../sass/global/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 495, ../sass/global/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 505, ../sass/global/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 519, ../sass/global/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 61, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 0.375em;
}

/* line 12, ../sass/global/_base.scss */
html > body {
  line-height: 1.5em;
  color: #666666;
  font-family: Georgia, "Droid Serif", serif;
}

/* line 19, ../sass/global/_base.scss */
body.html {
  background-color: black;
}

/* line 26, ../sass/global/_base.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.14286em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.57143em;
  font-family: "Museo-Slab", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

/* line 33, ../sass/global/_base.scss */
h2 {
  font-size: 2.25em;
  line-height: 1.16667em;
  margin-top: 0.66667em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.66667em;
  color: #cb3231;
  font-family: "Museo-Slab", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

/* line 41, ../sass/global/_base.scss */
h3 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin-top: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1em;
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

/* line 48, ../sass/global/_base.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.75em;
  font-family: "Museo", Helvetica, Arial, sans-serif;
  color: #cb3231;
}

/* line 55, ../sass/global/_base.scss */
h5 {
  font-size: 0.875em;
  line-height: 1.28571em;
  margin-top: 1.71429em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.85714em;
  color: #4a4a4a;
  font-family: "Museo", Helvetica, Arial, sans-serif;
}

/* line 62, ../sass/global/_base.scss */
h6 {
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  color: #4a4a4a;
  font-family: "Museo", Helvetica, Arial, sans-serif;
  letter-spacing: .03em;
  text-transform: uppercase;
}

/* line 75, ../sass/global/_base.scss */
a {
  color: #f27b25;
  text-decoration: none;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #f38a3d;
}
/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #d7620d;
}
/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #a74c0a;
}
/* line 4, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 89, ../sass/global/_base.scss */
p {
  margin: 0 0 0.75em;
}

/* line 93, ../sass/global/_base.scss */
blockquote {
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.6875em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.6875em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-color: #d2d5d9;
  font-style: italic;
}

/* line 105, ../sass/global/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 113, ../sass/global/_base.scss */
dl {
  margin-bottom: 1.125em;
}

/* line 117, ../sass/global/_base.scss */
dt {
  font-weight: bold;
}

/* line 121, ../sass/global/_base.scss */
dd {
  margin-left: 36px;
}

/* line 128, ../sass/global/_base.scss */
code {
  color: #4a4a4a;
}

/* line 135, ../sass/global/_base.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 139, ../sass/global/_base.scss */
.intro {
  font-size: 1.5em;
  line-height: 1.25em;
}

/* line 10, ../sass/global/_images.scss */
.image-frame > img,
.image-frame > a > img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(102, 102, 102, 0.6) 0 1px 3px;
  -moz-box-shadow: rgba(102, 102, 102, 0.6) 0 1px 3px;
  box-shadow: rgba(102, 102, 102, 0.6) 0 1px 3px;
  padding: 4px;
  background-color: white;
}

/* line 20, ../sass/global/_images.scss */
.image-left {
  float: left;
  margin: 0 36px 0.375em 0;
}

/* line 25, ../sass/global/_images.scss */
.image-right {
  float: right;
  margin: 0 0 0.375em 36px;
}

/* line 13, ../sass/global/_tables.scss */
table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.75em;
  font-family: Helvetica, Arial, san-serif;
}

/* line 22, ../sass/global/_tables.scss */
thead {
  text-align: left;
}
/* line 25, ../sass/global/_tables.scss */
thead th {
  vertical-align: bottom;
}

/* line 34, ../sass/global/_tables.scss */
th,
td {
  font-size: 0.875em;
  line-height: 1.28571em;
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #b2b2b2;
}

/* line 47, ../sass/global/_tables.scss */
caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

/* line 52, ../sass/global/_tables.scss */
tbody + tbody {
  border-top: 2px solid #b2b2b2;
}

/* line 57, ../sass/global/_tables.scss */
.table--bordered {
  border: 1px solid #b2b2b2;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 65, ../sass/global/_tables.scss */
.table--bordered th,
.table--bordered td {
  border-left: 1px solid #b2b2b2;
}
/* line 78, ../sass/global/_tables.scss */
.table--bordered caption + thead tr:first-child th,
.table--bordered caption + tbody tr:first-child th,
.table--bordered caption + tbody tr:first-child td,
.table--bordered colgroup + thead tr:first-child th,
.table--bordered colgroup + tbody tr:first-child th,
.table--bordered colgroup + tbody tr:first-child td,
.table--bordered thead:first-child tr:first-child th,
.table--bordered tbody:first-child tr:first-child th,
.table--bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
/* line 84, ../sass/global/_tables.scss */
.table--bordered thead:first-child tr:first-child th:first-child,
.table--bordered tbody:first-child tr:first-child td:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 88, ../sass/global/_tables.scss */
.table--bordered thead:first-child tr:first-child th:last-child,
.table--bordered tbody:first-child tr:first-child td:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 93, ../sass/global/_tables.scss */
.table--bordered thead:last-child tr:last-child th:first-child,
.table--bordered tbody:last-child tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 97, ../sass/global/_tables.scss */
.table--bordered thead:last-child tr:last-child th:last-child,
.table--bordered tbody:last-child tr:last-child td:last-child {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 107, ../sass/global/_tables.scss */
.table--condensed th,
.table--condensed td {
  padding: 4px 5px;
}

/* line 116, ../sass/global/_tables.scss */
tr.odd {
  background-color: transparent;
}

/* line 122, ../sass/global/_tables.scss */
.table--striped tbody tr:nth-child(odd) td,
.table--striped tbody tr:nth-child(odd) th,
.table--striped tbody tr.odd {
  background-color: #f0f1f2;
}

/* line 134, ../sass/global/_tables.scss */
.table--borderless th,
.table--borderless td {
  border: none;
}

/* line 143, ../sass/global/_tables.scss */
.table--no-wrap th, .table--no-wrap td {
  min-width: 8em;
}
/* line 147, ../sass/global/_tables.scss */
.table--no-wrap tbody {
  white-space: nowrap;
}

/* line 155, ../sass/global/_tables.scss */
.legend table {
  max-width: none;
  width: auto;
}

/* line 9, ../sass/components/_embeds.scss */
.embed--visualization {
  padding: 6px;
}

/* line 13, ../sass/components/_embeds.scss */
.visualization-title {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin-bottom: 0.66667em;
  font-weight: bold;
}

/* line 19, ../sass/components/_embeds.scss */
.embedded {
  padding-bottom: 1.5em;
}
/* line 22, ../sass/components/_embeds.scss */
.embedded .pagination {
  position: fixed;
  bottom: 1.5em;
  width: 100%;
  height: 1.5em;
  padding: 0 .5em;
  background-color: white;
}
/* line 31, ../sass/components/_embeds.scss */
.embedded.embedded--data-table {
  padding-bottom: 3em;
}

/* line 36, ../sass/components/_embeds.scss */
.visualization-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.5em;
  padding: 0 .5em;
  background-color: white;
}

/* line 45, ../sass/components/_embeds.scss */
.source {
  font-size: 0.8125em;
  line-height: 1.38462em;
  display: block;
  margin: 0.46154em 0;
  font-family: Helvetica, Arial, san-serif;
}
