//
// @file
// Field styles.
// ----------------------------------------------------------------------------

// META
.meta {
  @extend %meta;
  margin-right: $w-gutter-half;
}

.field--supplement {
  @include adjust-font-size-to($fs-s);
  margin-bottom: rhythm(2, $fs-s);
  font-family: $sans-typeface;

  .field-label {
    @include adjust-font-size-to($fs-xs, 3, $fs-s);
    margin-bottom: 0;
  }
}

// Default field label
.field-label {
  @include adjust-font-size-to($fs-xs);
  font-family: $sans-typeface;
  font-weight: bold;
  color: $gray-darker;
}

.field-label--ruled {
  @include text-ruled(3em, $gray-light);
  @include adjust-font-size-to($fs-m);
  font-family: $secondary-typeface;
  font-weight: 500;
}

.field-collection-label {
  @include adjust-font-size-to($fs-m);
  font-family: $secondary-typeface;
}

// More links
.read-more,
.field-name-node-link > a {
  @include adjust-font-size-to($fs-s);
  font-family: $tertiary-typeface;
}

// REQUESTED DATA
.field-name-field-request-status {
  @include adjust-font-size-to($fs-xs);
  margin-bottom: rhythm(2, $fs-xs);
  font-family: $sans-typeface;

  > .field-label {
    font-size: 1em;
    color: $gray-dark;
  }

  > .request-status--added { color: $green-darker; }
  > .request-status--processing { color: $red; }
  > .request-status--requested { color: $gray-dark; }

}

// DOWNLOAD FLAG
.flag-dataset-downloads {
  position: relative;
  display: block;

  .flag-throbber {
    position: absolute;
    top: 0;
    left: -22px;
  }
}

// INTEREST FLAG
.button--interest {
  @include adjust-font-size-to($fs-s);
  font-family: $tertiary-typeface;
  color: $green-darker;

  &.flag-action {
    color: $orange;

    &:before { color: $gray-lighter; }

    &:hover,
    &:hover:before {
      color: $orange-dark;
    }
  }

  &:hover {
    color: $green-darkest;
    text-decoration: none;
  }
}

.flag-dataset-request-interest .flag-message { top: rhythm(4, $fs-xs); }

.flag-counter--interest {
  @include adjust-font-size-to($fs-xs);
  font-family: $sans-typeface;
}

// SHARE LINKS
.field-name-share-links {
  text-align: center;
  margin-bottom: rhythm(4);

  .button--share {
    font-size: 1.5em;
    top: .33em;
    margin: 0 .25em;
  }
}

// VISUALIZATION TYPES
.visualization-icon {
  > a {
    @extend %hide-text;
    display: block;
    height: 92px;
    width: 92px;
  }

  &.chart > a { @include icon-sprite(chart); }
  &.data-table > a { @include icon-sprite(data-table); }
  &.map > a { @include icon-sprite(map); }
}
