// Button base
// ------------

%button {
  @include inline-block;
  border-style: solid;
  border-width: 1px;
  font-family: $tertiary-typeface;
  font-weight: 500;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}

// Button sizes
// ------------

%button-tiny {
  @include adjust-font-size-to($fs-xxs);
  @include border-radius(4px);
  font-weight: bold;
  text-transform: uppercase;
  padding: rhythm(.25, $fs-xxs) 6px;
}

%button-small {
  @include adjust-font-size-to($fs-s);
  @include border-radius(4px);
  padding: rhythm(.5, $fs-s) 10px;
}

%button-medium {
  @include adjust-font-size-to($fs-l);
  @include border-radius(4px);
  padding: rhythm(.75, $fs-l) 13px;
}

%button-large {
  @include adjust-font-size-to($fs-l);
  @include border-radius(4px);
  font-weight: bold;
  padding: rhythm(1, $fs-l) 18px;
}

// Button colors
// -------------

%button-white {
  @include background-image(linear-gradient(bottom, $gray-white $white));
  @include link-colors($gray-dark, $gray-dark, $gray-darkest);
  border-color: $gray-light;

  &:hover {
    border-color: $gray-dark;
  }

  &:active {
    @include background-image(linear-gradient(top, $gray-lightest $white));
    @include box-shadow($gray 0 1px 1px inset);
  }
}

%button-primary {
  @include background-image(
    linear-gradient(bottom, blend-overlay(rgba($black, .1), $secondary-color), blend-overlay(rgba($white, .25), $secondary-color))
  );

  @include link-colors($gray-white, $white, $white, $gray-white);
  @include text-shadow(0 1px 0 blend-overlay(rgba($black, .25), $secondary-color));
  background-color: $secondary-color;
  border: none;

  &:hover {
    @include background-image(
      linear-gradient(top, blend-overlay(rgba($black, .1), $secondary-color), blend-overlay(rgba($white, .1), $secondary-color))
    );
  }

  &:active {
    @include box-shadow(blend-overlay(rgba($black, .5), $secondary-color) 0 1px 2px inset);
    background-color: blend-overlay(rgba($black, .25), $secondary-color);
  }
}

%button-secondary {
  @include background-image(
    linear-gradient(bottom, blend-overlay(rgba($black, .1), $primary-color), blend-overlay(rgba($white, .25), $primary-color))
  );

  @include link-colors($gray-white, $white);
  @include text-shadow(0 1px 0 blend-overlay(rgba($black, .25), $primary-color));
  background-color: $primary-color;
  border: none;

  &:hover {
    @include background-image(
      linear-gradient(top, blend-overlay(rgba($black, .1), $primary-color), blend-overlay(rgba($white, .1), $primary-color))
    );
  }

  &:active {
    @include box-shadow(blend-overlay(rgba($black, .5), $primary-color) 0 1px 2px inset);
    background-color: blend-overlay(rgba($black, .25), $primary-color);
  }
}

%button-gray {
  @include link-colors($gray-white, $white, $white, $gray-white);
  @include text-shadow(0 1px 0 blend-overlay(rgba($black, .25), $gray-dark));
  background-color: $gray-dark;
  border: none;

  &:hover {
    background-color: $gray-darkest;
  }

  &:active {
    background-color: $black;
  }
}

%button-orange {
  @include background-image(
    linear-gradient(bottom, blend-overlay(rgba($black, .25), $orange), blend-overlay(rgba($white, .25), $orange))
  );
  @include box-shadow (
    rgba($black, .25) 0 1px 0 0,
    blend-overlay(rgba($black, .4), $orange) 0 -1px 2px 0px inset,
    blend-overlay(rgba($black, .1), $orange) 0 -12px 0 0 inset
  );
  @include link-colors($orange-lighter, $white);
  @include text-shadow(0 1px 0 blend-overlay(rgba($black, .25), $orange));
  background-color: $gray-dark;
  border: none;

  &:hover {
    @include background-image(
      linear-gradient(top, blend-overlay(rgba($black, .1), $orange), blend-overlay(rgba($white, .1), $orange))
    );
  }

  &:active {
    @include box-shadow($orange 0 1px 2px inset);
    background-color: $orange-dark;
  }
}

%button-red {
  @include background-image(
    linear-gradient(bottom, blend-overlay(rgba($black, .25), $red), blend-overlay(rgba($white, .25), $red))
  );
  @include box-shadow (
    rgba($black, .25) 0 1px 0 0,
    blend-overlay(rgba($black, .4), $red) 0 -1px 2px 0px inset,
    blend-overlay(rgba($black, .1), $red) 0 -12px 0 0 inset
  );
  @include text-shadow(0 1px 0 blend-overlay(rgba($black, .25), $red));
  background-color: $red-dark;
  border: none;
  color: lighten($red, 40%);

  &:visited {
    color: lighten($red, 40%);
  }

  &:hover {
    @include background-image(
      linear-gradient(top, blend-overlay(rgba($black, .1), $red), blend-overlay(rgba($white, .1), $red))
    );
    color: $white;
  }

  &:active {
    @include box-shadow($red 0 1px 2px inset);
    background-color: $red-dark;
    color: $white;
  }
}

%button-secondary {
  @extend %button;
  @extend %button-small;
  @extend %button-gray;
}

// Button text effects
// -------------

%button-text-embossed {
  @include text-shadow(0 -1px 0 #A3A3A3);
}

%button-text-debossed {
  @include text-shadow(0 1px 0 rgba($white, 1));
}

// Button icons
// ------------

@mixin button-icon($x-size: 18px, $y-size: 18px) {
  @include inline-block;
  content: "";
  position: relative;
  width: $x-size;
  height: $y-size;
}

%button-icon-before {
  &:before {
    @include button-icon();
    top: -1px;
  }
}

%button-icon-after {
  &:after {
    @include button-icon();
    top: -1px;
  }
}

%button-icon-before-large {
  &:before {
    @include button-icon(26px, 26px);
    top: -1px;
    margin-right: 8px;
  }
}

%button-icon-after-large {
  &:after {
    @include button-icon(26px, 26px);
    top: -1px;
    margin-left: 8px;
  }
}
